{% extends "layout.html" %}

{%block head%}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf4B488Fme6FZV-1ky_mrLbGj82ndrO-A">
</script>
<style type="text/css">
    #map {
        width: 100%;
        height: 400px;
    }
</style>
{%endblock%}

{%block main%}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <h3>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Create a new case
                </h3>
            </div>
        </div>
    </div>
    <form id="case-form" action="/case" method="POST" enctype="multipart/form-data">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Case Details
            </div>
            <div class="panel-body">
                <div>
                    Your name: <br/>
                    <input class="form-control" type="text" name="author" maxLength="15" placeholder="Max 15 letters, so that we can include this in the tweets"/><br/>
                    
                    What is missing? <br/>
                    <input class="form-control" type="text" name="object_lost" maxLength="15" placeholder="Max 15 letters, so that we can include this in the tweets"/><br/>
                    
                    Tell us the details<br/>
                    <textarea class="form-control" rows="5" name="details"></textarea><br/><br/>
                    
                    Optional: upload a photo<br/>
                    <input type="file" name="image" id="image" /><br/>
                    <div class="alert alert-info">
                        <span class="glyphicon glyphicon-info-sign"></span> &nbsp;
                        Your image will be uploaded to Imgur.com, a third party image sharing service
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Location
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    Place a marker by clicking on the map, at the location from where the object went missing. Be sure to be as accurate as possible.
                </div>
                
                <div id="map"></div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12" align="right">
        <div class="panel panel-success">
            <div class="panel-body">
                <button type="submit" onclick="this.form.submit()" class="btn btn-success">
                    Create my case &nbsp;
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    
    <input type="hidden" id="lat" name="lat" value=null>
    <input type="hidden" id="lng" name="lng" value=null>
    </form>
</div>
<script type="text/javascript" src="/static/scripts/new_case.js"></script>
{%endblock%}